<a href="https://colab.research.google.com/github/ayooluwaaaa/ayooluwaaaa/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

dict1 = {
"Names": ["Lenny", "Josh", "Jay"],
    "Ages": [20, 21, 22],
    "Cities": ["New York", "Los Angeles", "Chicago"],
}
df = pd.DataFrame(dict1)
print(df)

   Names  Ages       Cities
0  Lenny    20     New York
1   Josh    21  Los Angeles
2    Jay    22      Chicago